<nav class="sidebar fixed-top">
    <div class="brand">
        RIN <br>
        NOH <br>
        ARA
    </div>
    <ul>
        <li><a href="#/home">Trang Chủ</a></li>
        <li><a href="#/intro">Giới Thiệu</a></li>        
        <li><a href="#/course">Khoá Học</a></li>
        <li><a href="#/contact">Liên Hệ</a></li>
    </ul>

    <a href="#/login">Bạn chưa đăng nhập ?</a>
</nav>

<style>
    .sidebar{
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width: 35rem;
        background-color: rgb(8, 8, 8);
        padding: 3rem;
    }
    .sidebar .brand{
        line-height: 1;
        font-family: 'Courier New', Courier, monospace;   
        font-size: 3.4rem;    
        letter-spacing: 1rem;
        margin-bottom: 6rem;        
    }
    .sidebar ul{
        margin-bottom: 5rem;
    }
    .sidebar ul li a{
        color: #fff;
        text-decoration: none;
        font-size: 1.8rem;        
        transition: .3s;
    }
    .sidebar ul li a:hover{
        color: orangered;
    }
    .sidebar ul li{
        margin: 2rem;
    }
</style>